.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin: 20px;
}

.button-details {
  background-color: #008cba;
  border: none;
  color: white !important;
  border-radius: 5px;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button-avisame {
  background-color: #949494;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-2 {
  width: 500px;
}

.price {
  text-align: center !important;
}

.contador {
  display: flex;
  justify-content: center;
}

.input-group {
  margin: 25px;
  width: 50% !important;
}
/* .form-control{
  text-align: center !important;
  
} */

#pluswrap {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
#button-addon1 {
  text-align: center;
}
#pay {
  width: 100%;
  margin-top: 10px;
}
.card-accepted {
  display: flex;
  width: 60%;
}
#ticketprice {
  width: 75% !important;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-card {
  display: flex;
  justify-content: space-around;
}
